<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.benshoe.paardrijlessen" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddHorseActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_horse" >
        </activity>
        <activity
            android:name=".HorseAdapterActivity"
            android:label="@string/title_activity_horse_adapter" >
        </activity>
        <activity
            android:name=".HorseActivity"
            android:label="@string/title_activity_horse" >
        </activity>
        <activity
            android:name=".LessonAdapterActivity"
            android:label="@string/title_activity_lesson_adapter" >
        </activity>
        <activity
            android:name=".AddLessonActivity"
            android:label="@string/title_activity_add_lesson" >
        </activity>
        <activity
            android:name=".LessonActivity"
            android:label="@string/title_activity_lesson" >
        </activity>
    </application>

</manifest>
